.body{
    background-image: url("/static/assets/images/tracy-adams-rA5MU4pXnWE-unsplash.jpg");
    text-align: center;
}
img{
    width: 100%;
}
@media screen and (max-width: 600px){
    .body{
        background-image: url("./assets/images/team-work-flatline-7b245\ \(1\).png");
        text-align: center;
    }
    img{
        width: 100%;
    }
}