*{
    padding: 0;
    margin: 0;
}
img,
video{
    width: 100%;
}
@font-face {
    font-family: "Orpheus";
    src: url("../static/assets/font/Orpheus\ Pro.ttf");
}
body{
    background-color: black;
    color: rgb(231, 229, 229);
    font-family: "Orpheus";
}
nav{
    display: flex;
    justify-content:space-between;
    padding: 2.5% 3.5% 2.5% 3.5%;
    position:fixed;
    top: 0;
    width: 92.7%;
    background-color: black;
    margin: 0;
}
.hamburger-Menu{
    display: none;
}
.nav-links{
    width: 27%;
}
.logo{
    font-size: 35px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
ul li{
    list-style: none;
}
ul a{
    color: rgb(240, 238, 238);
    text-decoration: none;
}
.intro-h1{
    margin: 16% 0% 3.8% 17%;
    line-height: 50px;
    font-size: 35px;
    padding-top: 1%;
    letter-spacing: 1.7px;
}
.logo a{
    color: white;
    text-decoration: none;
}
.intro-paragraph{
    margin-left:17%;
    letter-spacing: 0.4px;
    margin-bottom: 14%;
}
.intro-paragraph span a{
    margin-left: 3px;
    font-size: 18px;
    color: aliceblue;
}
header{
    margin-top: 0%;
}
/* main */
.main-section1{
    display: flex;
    justify-content: center;
}
.main-section1-div-container{
    display: flex;
    width: 75%;
    padding-left: 2%;
    margin-left: 5%;
}
.main-section1-div-image{
    width: 61%;
    margin-bottom: 60px;
}
.main-section1-div-paragraph{
    width: 35%;
    margin-left: 5%;
    font-size: 14px;
    letter-spacing: 0.6px;
    line-height: 22px;
    padding-top: 10px;
}
.about-section{
    text-align: left;
    padding-left: 3%;
    margin-left: 13%;
    word-spacing: 4px;
    letter-spacing: 1.7px;
    line-height: 40px;
    font-size: 13px;
    color: white;
}
.about-section h2{
    width: 80%;
    margin-bottom: 200px;
}
.sneakpeak{
    text-align: center;  
}
.sneakpeak h1{
    font-size: 33px; 
} 
.video-container{
    display: flex;
    justify-content: space-around;
}
.video-container-div{
    margin-top: 180px;
}
.video3{
    width: 50%;
    margin-left: 25%;
    margin-top: 15%;
}
video{
   border: 7px solid #ffe9de; 
}
.video1,
.video2{
    width: 35%;
}
.videoo-captions{
    text-align: center;
    margin-top: 50px;
}
.videoo-captions h2{
    margin-bottom: 10px;
    letter-spacing: 1px;
}
.videoo-captions p{
    line-height: 20px;
    letter-spacing: 0.5px;
}
footer{
    margin: 10%;
    text-align: center;
}

/* my stack */
/* .myStack-div{
    text-align:left;
} */
.myStack-h1{
    margin-bottom: 20px;
    text-align: center;
    margin-left: 0%;
}
.myStack-main{
    margin-top: 120px;
    margin-left: 24%;
}
.myStack-main h3{
    color: #b6b69f; 
}
.myStack-ul li{
    list-style:disc;
    margin: 9px 9px 9px 50px ;
}

/* contact page */
.contact-html-page{
    margin-top: 180px;
    margin-left: 20%;
    margin-bottom: 80px;
}
.contact-html-h1{
    margin-bottom: 2%;
}
input{
    padding: 20px; 
    margin: 5px 5px 20px 0px;
    border: transparent;
    width: 40%;
    background-color: #d3cece;
}
.form-inputs1{
    margin: 5px 5px 10px 0px;
}
.form-inputs2{
    margin: 5px 5px 10px 0px;
}
.form-inputs3{
    margin: 5px 5px 10px 0px;
}
form{
    font-size: larger;
} 
textarea{
    width: 37%;
    padding: 40px;
    border: transparent;
    margin: 5px 5px 10px 0px;
    background-color: #d3cece;
} 
.submit-button{
    background-color: black;
    color: white;
    border-radius: 20px;
    border: 1px thin grey;
    padding: 1% 2%;
    font-size: medium;
    margin: 3%;

}
label{
    font-size: medium;
}