<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrightOmolayo</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/assets/images/hearrt.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/25008b46a7.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <div class="links">
                <ul>
                    <li><a href="index.html" class="brightomolayo1">Brightomolayo's</a></li>
                    <li class="projects"><a href="projects.html" class="projectslink">Projects</a></li>
                    <li class="about"><a href="about.html" class="aboutlink">About</a></li>
                </ul>
            </div>
            <div class="socials-links-icons">
                <ul class="socials-links-icons-ul" >
                    <li><a href="https://www.instagram.com/brightomolayo_/" class="icon"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="https://x.com/BrightBalogun21?t=zc9HxRMxTHX24nno0_vX9g&s=09" class="icon"><i class="fa-brands fa-x-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/bright-balogun-a30152321/" class="icon"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li><a href="https://www.facebook.com/share/i6yiQzVxM53ZcReX/?mibextid=qi2Omg" class="icon"><i class="fa-brands fa-facebook-f"></i></a></li>
                </ul>
            </div>
            <div class="mobile-nav-dropdown">
                <div class="linksmobile">
                    <ul>
                        <li><a href="index.html" class="brightomolayo1">Brightomolayo's</a></li>
                    </ul>
                </div>
                <div class="dropdown-button" id="dropdown-button" onclick="toggle()" >
                    <div class="dropdown-divs line1" id="line1"  style="transform: rotate(180deg);"></div>
                    <div class="dropdown-divs line2" id="line2" style="transform: rotate(180deg);"></div>
                </div>
            </div>
            <div class="mobile-hidden-nav-links1" style="display: none;" id="mobile-hidden-nav-links1">
                <div class="mobile-nav-links1">
                    <ul>
                        <li class="mobile-project-link"><a href="projects.html" class="navprojectslink">Projects</a></li>
                        <li class=""><a href="about.html" class="navaboutlink">About</a></li>
                    </ul>
                </div>
                <div class="mobile-socials-links">
                    <ul class="" >
                        <li><a href="https://www.instagram.com/brightomolayo_/" class="icon"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="https://x.com/BrightBalogun21?t=zc9HxRMxTHX24nno0_vX9g&s=09" class="icon"><i class="fa-brands fa-x-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/bright-balogun-a30152321/" class="icon"><i class="fa-brands fa-linkedin"></i></a></li>
                        <li><a href="https://www.facebook.com/share/i6yiQzVxM53ZcReX/?mibextid=qi2Omg" class="icon"><i class="fa-brands fa-facebook-f"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="about-html-main">
        <div class="about-page-image">
            <img src="../static/assets/images/bright[1].jpg" alt="">
        </div>
        <div class="about-me">
            <h1>About Me</h1><br><br>
            <p>
                Passionate Front-End Developer with proficiency in HTML, <br> CSS, and JavaScript to create intuitive user experiences. <br> I thrive on the challenge of problem-solving and always strive to build  <br>things that are both aesthetically pleasing and highly functional.  I take pride in my attention to detail, performance <br>optimization, and creating accessible, responsive designs.
                <br> <br> <br>

                My journey into web development began when I realized that <br> combining logic and creativity was the perfect fit for me.  <br>Whether I’m solving complex layout issues or optimizing a site’s performance, <br> I enjoy being in the details and pushing myself to improve.

                When I’m not coding, I read books. If you’d like to chat about development or have a project you’d like to collaborate on, feel free to reach out. I’d love to connect!
            </p>
            <br><br><br><br>
            <button class="about-html-button"><a href="./contact.html">Get in touch</a></button>
        </div>
    </main>
    <div>
        
    </div>
    <footer>
        <h1 class="brightomolayo">
            Bright <br>Omolayo
        </h1>

        <div class="qoute">
            <div>
                <p>Copyright © 2024. Bright Omolayo. All Rights Reserved. See Privacy Policy.</p>
            </div>
            <div class="galadriel">
                <p> <i class="fa-regular fa-envelope"></i> Officialbrightbalogun@gmail.com</p>
            </div>
        </div>
    </footer>
    <script src="static/script.js"></script>
</body>
</html>