<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrightOmolayo</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/assets/images/hearrt.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/25008b46a7.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <div class="links">
                <ul>
                    <li><a href="index.html" class="brightomolayo1">Brightomolayo's</a></li>
                    <li><a href="projects.html">Projects</a></li>
                    <li><a href="about.html">About</a></li>
                </ul>
            </div>
            <div class="socials-links-icons">
                <ul class="socials-links-icons-ul" >
                    <li><a href="https://www.instagram.com/brightomolayo_/"class="icon"> <i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="https://x.com/BrightBalogun21?t=zc9HxRMxTHX24nno0_vX9g&s=09" class="icon"><i class="fa-brands fa-x-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/bright-balogun-a30152321/" class="icon"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li><a href="https://www.facebook.com/share/i6yiQzVxM53ZcReX/?mibextid=qi2Omg" class="icon"><i class="fa-brands fa-facebook-f"></i></a></li>
                </ul>
            </div>
        </nav>
    </header>
    <h1>My portfolio</h1>
    <button>
        <a href="./index.html">Home</a>
    </button>
    <script src="static/script.js"></script>
</body>
</html>