<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrightOmolayo</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/assets/images/hearrt.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/25008b46a7.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <div class="links">
                <ul>
                    <li><a href="index.html" class="brightomolayo1">Brightomolayo's</a></li>
                    <li class="projects"><a href="projects.html" class="projectslink">Projects</a></li>
                    <li class="about"><a href="about.html" class="aboutlink">About</a></li>
                </ul>
            </div>
            <div class="socials-links-icons">
                <ul class="socials-links-icons-ul" >
                    <li><a href="https://www.instagram.com/brightomolayo_/" class="icon"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="https://x.com/BrightBalogun21?t=zc9HxRMxTHX24nno0_vX9g&s=09" class="icon"><i class="fa-brands fa-x-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/bright-balogun-a30152321/" class="icon"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li><a href="https://www.facebook.com/share/i6yiQzVxM53ZcReX/?mibextid=qi2Omg" class="icon"><i class="fa-brands fa-facebook-f"></i></a></li>
                </ul>
            </div>
            <div class="mobile-nav-dropdown">
                <div class="linksmobile">
                    <ul>
                        <li><a href="index.html" class="brightomolayo1">Brightomolayo's</a></li>
                    </ul>
                </div>
                <div class="dropdown-button" id="dropdown-button" onclick="toggle()" >
                    <div class="dropdown-divs line1" id="line1"  style="transform: rotate(180deg);"></div>
                    <div class="dropdown-divs line2" id="line2" style="transform: rotate(180deg);"></div>
                </div>
            </div>
            <div class="mobile-hidden-nav-links1" style="display: none;" id="mobile-hidden-nav-links1">
                <div class="mobile-nav-links1">
                    <ul>
                        <li class=""><a href="projects.html" class="navprojectslink">Projects</a></li>
                        <li class=""><a href="about.html" class="navaboutlink">About</a></li>
                    </ul>
                </div>
                <div class="mobile-socials-links">
                    <ul class="" >
                        <li><a href="https://www.instagram.com/brightomolayo_/" class="icon"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="https://x.com/BrightBalogun21?t=zc9HxRMxTHX24nno0_vX9g&s=09" class="icon"><i class="fa-brands fa-x-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/bright-balogun-a30152321/" class="icon"><i class="fa-brands fa-linkedin"></i></a></li>
                        <li><a href="https://www.facebook.com/share/i6yiQzVxM53ZcReX/?mibextid=qi2Omg" class="icon"><i class="fa-brands fa-facebook-f"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="contact-html-page">
        <h1 class="contact-html-h1">Contact Me</h1>
        <form action="submit_form" method="post">
            <label for="First Name">First Name:</label> <br>
            <input type="text" name="firstname" placeholder="Johnson" class="names"> <br>

            <label for="Last Name">Last Name:</label> <br>
            <input type="text" name="lastname" placeholder="Smith" class="names"><br>
    
            <label for="Subject">Subject:</label><br>
            <input type="text" name="subject" placeholder="Enquiry" class="form-inputs1"><br>
    
            <label for="Email">Email:</label><br>
            <input type="email" name="email" placeholder="myName@name.com" class="form-inputs2"><br>
    
            <label for="Business Name">Business Name:</label><br>
            <input type="text" name="test" placeholder="JohnsonCo" class="form-inputs3"><br>
    
            <label for="" class="message">Additional comments?:</label> <br>
            <textarea name="message" id=""></textarea class="form-inputs"><br>
    
            <button type="submit" class="submit-button">submit</button>
        </form>
    </main>
    <script src="static/script.js"></script>
</body>
</html>