<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bright Omolayo</title>
    <link rel="stylesheet" href="../static/restyled.css">
    <link rel="shortcut icon" href="../static/assets/images/brightomolayo.jpg" type="image/x-icon">
    <script src="https://kit.fontawesome.com/25008b46a7.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <nav>
            <div >
                <h1 class="logo">Bright Omolayo</h1>
            </div>
            <div class="nav-links">
                <ul>
                    <li><a href="../templates/mystack.html">Tech Stack</a></li>
                    <li><a href="../templates/contact.html">Contact</a></li>
                    <li><a href="https://www.instagram.com/___e_o_w_y_n___/profilecard/?igsh=YW94Ynh2ZjAxZTJy"><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
            </div>
            <div class="hamburger-Menu">
                <div>
                    <div>hamburger</div>
                    <div>hamburger</div>
                </div>
            </div>
        </nav>
        <div class="intro">
            <h1 class="intro-h1">  
                Hello there ☺, my name is Bright Omolayo. <br>      
                I am a Full-stack Web Developer, a Cyber Security <br> Engineer and a Budding Data Analyist and Scientist.
            </h1>
            <p class="intro-paragraph">Looking forward to joining your team <span><a href="../templates/contact.html"><i>schedule a meeting</i></a>.</span></p>
        </div>
    </header>  
    <main>
        <section class="main-section1">
            <div class="main-section1-div-container">
                <div class="main-section1-div-image">
                    <img src="../static/assets/images/bright - Copy.jpg" alt="Miss Bright">
                </div>
                <div class="main-section1-div-paragraph">
                    <p>If I am not writing codes, you will find me <br>reading, carrying out researches, checking for <br> updates or swimming.</p>
                </div>
            </div>
        </section>
        <section class="about-section">
            <h2>
                My journey into tech began with Web Development after realizing that combining logic and creativity was a perfect fit. I learned Backend and found it fascinating. In 2024, I switched to Cyber-Security, and now I'm taking courses in Data Science and Data Analysis. Whether solving layout issues or optimizing performance, I enjoy the details and pushing myself to improve.
            </h2>
        </section>
        <section class="sneakpeak-section">
            <div class="sneakpeak">
                <h1>
                    Here’s a Sneakpeek into my most Recent Projects
                </h1>
            </div>
            <div class="video-container-div">
                <div class="video-container">
                    <div class="video1">
                        <video src="../static/assets/videos/Learn more about Ableton - maker of Live and Push _ Ableton - Google Chrome 2024-12-03 13-01-09.mp4" autoplay loop muted  style="width: 100%; height: auto;"></video>
                    </div>
                    <div class="video2">
                        <video src="../static/assets/videos/MONOGRAM - Google Chrome 2024-12-03 13-02-32.mp4" autoplay loop muted  style="width: 100%; height: auto;"></video>
                    </div>
                </div>
                <div class="video3">
                    <video src="../static/assets/videos/Oh.studio - Google Chrome 2024-12-03 13-03-50.mp4" autoplay loop muted  style="width: 100%; height: auto;"></video>
                </div>
            </div>
        </section>
    </main>
</body>
</html>