<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bright Omolayo</title>
    <link rel="stylesheet" href="../static/restyled.css">
    <link rel="shortcut icon" href="../static/assets/images/brightomolayo.jpg" type="image/x-icon">
    <script src="https://kit.fontawesome.com/25008b46a7.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <nav>
            <div >
                <h1 class="logo">Bright Omolayo</h1>
            </div>
            <div class="nav-links">
                <ul>
                    <li><a href="../templates/mystack.html">Tech Stack</a></li>
                    <li><a href="../templates/contact.html">Contact</a></li>
                    <li><a href="https://www.instagram.com/___e_o_w_y_n___/profilecard/?igsh=YW94Ynh2ZjAxZTJy"><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
            </div>
            <div class="hamburger-Menu">
                <div>
                    <div>hamburger</div>
                    <div>hamburger</div>
                </div>
            </div>
        </nav>
        <div class="intro">
            <h1 class="intro-h1">  
                Hello there ☺, my name is Bright Omolayo. <br>      
                I am a Full-stack Web Developer, a Cyber Security <br> Engineer and a Budding Data Analyist and Scientist.
            </h1>
            <p class="intro-paragraph">Looking forward to joining your team <span><a href="../templates/contact.html"><i>schedule a meeting</i></a>.</span></p>
        </div>
    </header>  
    <main>
        <section>
            <div class="main-section1-div-container">
                <div class="main-section1-div-image">
                    <img src="../static/assets/images/bright.jpg" alt="Miss Bright">
                </div>
                <div class="main-section1-div-paragraph">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, quis ipsa! Exercitationem impedit laborum, aut animi placeat, officiis labore, necessitatibus ea quos eveniet illo iure reiciendis. Dolor facilis fugiat iure?</p>
                </div>
            </div>
        </section>
    </main>
</body>
</html>