<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bright Omolayo</title>
    <link rel="stylesheet" href="../static/restyled.css">
    <link rel="shortcut icon" href="../static/assets/images/brightomolayo.jpg" type="image/x-icon">
    <script src="https://kit.fontawesome.com/25008b46a7.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <div >
                <h1 class="logo"><a href="../templates/index.html">Bright Omolayo</a></h1>
            </div>
            <div class="nav-links">
                <ul>
                    <li><a href="../templates/mystack.html">Tech Stack</a></li>
                    <li><a href="../templates/contact.html">Contact</a></li>
                    <li><a href="https://www.instagram.com/___e_o_w_y_n___/profilecard/?igsh=YW94Ynh2ZjAxZTJy"><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
            </div>
            <div class="hamburger-Menu">
                <div>
                    <div>hamburger</div>
                    <div>hamburger</div>
                </div>
            </div>
        </nav>
    </header>
    <main class="myStack-main">
        <!-- <h1 class="myStack-h1">My Tech Stack</h1> <br><br> -->
        <br><br> 
        <br><br> 
        <div class="myStack-div">
            <div class="myStack-ul">
                <div class="front-end">
                    <div>
                        <h3>FRONT-END WEB DEVELOPMENT</h3>
                        <br>
                        <ul>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>JAVASCRIPT</li>
                            <li>REACT JS</li>
                        </ul>
                    </div>
                </div>
                <br><br>
                <div class="backend">
                    <div>
                        <h3>BACK-END WEB DEVELOPMENT</h3>
                        <br>
                        <ul>
                            <li>NODE JS</li>
                            <li>PYTHON</li>
                            <li>FLASK</li>
                        </ul>
                    </div>
                </div>
                <br><br>
            </div>
        </div>
    </main>
</body>
</html>