<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrightOmolayo</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/assets/images/hearrt.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/25008b46a7.js" crossorigin="anonymous"></script>
</head>
<body class="projects-html-body">
    <header>
        <nav>
            <div class="links">
                <ul>
                    <li><a href="index.html" class="brightomolayo1">Brightomolayo's</a></li>
                    <li class="projects"><a href="projects.html" class="projectslink">Projects</a></li>
                    <li class="about"><a href="about.html" class="aboutlink">About</a></li>
                </ul>
            </div>
            <div class="socials-links-icons">
                <ul class="socials-links-icons-ul" >
                    <li><a href="https://www.instagram.com/brightomolayo_/" class="icon"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="https://x.com/BrightBalogun21?t=zc9HxRMxTHX24nno0_vX9g&s=09" class="icon"><i class="fa-brands fa-x-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/bright-balogun-a30152321/" class="icon"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li><a href="https://www.facebook.com/share/i6yiQzVxM53ZcReX/?mibextid=qi2Omg" class="icon"><i class="fa-brands fa-facebook-f"></i></a></li>
                </ul>
            </div>
            <div class="mobile-nav-dropdown">
                <div class="linksmobile">
                    <ul>
                        <li><a href="index.html" class="brightomolayo1">Brightomolayo's</a></li>
                    </ul>
                </div>
                <div class="dropdown-button" id="dropdown-button" onclick="toggle()" >
                    <div class="dropdown-divs line1" id="line1"  style="transform: rotate(180deg);"></div>
                    <div class="dropdown-divs line2" id="line2" style="transform: rotate(180deg);"></div>
                </div>
            </div>
            <div class="mobile-hidden-nav-links1" style="display: none;" id="mobile-hidden-nav-links1">
                <div class="mobile-nav-links1">
                    <ul>
                        <li class=""><a href="projects.html" class="navprojectslink">Projects</a></li>
                        <li class=""><a href="about.html" class="navaboutlink">About</a></li>
                    </ul>
                </div>
                <div class="mobile-socials-links">
                    <ul class="" >
                        <li><a href="https://www.instagram.com/brightomolayo_/" class="icon"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="https://x.com/BrightBalogun21?t=zc9HxRMxTHX24nno0_vX9g&s=09" class="icon"><i class="fa-brands fa-x-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/bright-balogun-a30152321/" class="icon"><i class="fa-brands fa-linkedin"></i></a></li>
                        <li><a href="https://www.facebook.com/share/i6yiQzVxM53ZcReX/?mibextid=qi2Omg" class="icon"><i class="fa-brands fa-facebook-f"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <h1 class="projects-html-h1">Here’s a Sneakpeek into my most Recent Projects</h1>
    </div>
    <main class="projects-html-main">
        <div class="image-holder">
            <div class="image-placeholder">
                <div class="image-div">
                    <a href="https://brightomolayo.github.io/My-First-Project/">
                        <img src="../static/assets/images/abletonWebsite1 -.jpg" alt="">
                    </a>
                </div>
                <h2>Ableton Website</h2>
                <p>I replicated Ableton website with HTML, CSS and JAVASCRIPT. Ableton makes software, hardware and other creative tools for a global community of music makers.</p>
            </div>

            <div class="image-placeholder">
                <div  class="image-div">
                    <a href="https://brightomolayo.github.io/monogram/">
                        <img src="../static/assets/images/monogram111.jpg" alt="monogram">
                    </a>
                </div>
                <h2>Monogram Website</h2>
                <p>I replicated Monogram Website. A company that does photo editing and retouching, video editing, color grading, virtual production, audio/music production, and other creative workflows.</p>
            </div>

            <div class="image-placeholder">
                <div class="image-div">
                    <a href="https://brightomolayo.github.io/Oh.Studio/">
                        <img src="../static/assets/images/ohstudio111.jpg" alt="Oh.studio website">
                    </a>
                </div>
                <h2>Oh.studio Website</h2>
                <p>I replicated Oh.studio Website. <br>A brand and product designer working with clients globally.</p>
            </div>
        </div>
    </main>
    <footer class="projects-html-body footer">
        <button><a href="./seeMore.html">See more</a></button>
    </footer>
    <script src="../static/script.js"></script>
</body>
</html>