<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrightOmolayo</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/assets/images/hearrt.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/25008b46a7.js" crossorigin="anonymous"></script>
</head>
<body class="projects-html-body">
    <header>
        <h1>Here’s a Sneakpeek into my most Recent Projects</h1>
    </header> 
    <main>
        <div>
            <figure></figure>
            <figcaption></figcaption>
        </div>
        <div>
            <figure></figure>
            <figcaption></figcaption>
        </div>
        <div>
            <figure></figure>
            <figcaption></figcaption>
        </div>
    </main>
</body>
</html>