<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrightOmolayo</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/assets/images/hearrt.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/25008b46a7.js" crossorigin="anonymous"></script>
</head>
<body class="projects-html-body">
    <header>
        <nav>
            <div class="links">
                <ul>
                    <li><a href="index.html" class="brightomolayo1">Brightomolayo's</a></li>
                    <li class="projects"><a href="projects.html" class="projectslink">Projects</a></li>
                    <li class="about"><a href="about.html" class="aboutlink">About</a></li>
                </ul>
            </div>
            <div class="socials-links-icons">
                <ul class="socials-links-icons-ul" >
                    <li><a href="https://www.instagram.com/brightomolayo_/" class="icon"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="https://x.com/BrightBalogun21?t=zc9HxRMxTHX24nno0_vX9g&s=09" class="icon"><i class="fa-brands fa-x-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/bright-balogun-a30152321/" class="icon"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li><a href="https://www.facebook.com/share/i6yiQzVxM53ZcReX/?mibextid=qi2Omg" class="icon"><i class="fa-brands fa-facebook-f"></i></a></li>
                </ul>
            </div>
            <div class="mobile-nav-dropdown">
                <div class="linksmobile">
                    <ul>
                        <li><a href="index.html" class="brightomolayo1">Brightomolayo's</a></li>
                    </ul>
                </div>
                <div class="dropdown-button">
                    <div class="dropdown-divs line1"></div>
                    <div class="dropdown-divs line1"></div>
                </div>
            </div>
            <div class="h" style="display: none;">uhjlkm
                <div class="mobile-nav-links1">
                    <ul>
                        <li class=""><a href="projects.html" class="navprojectslink">Projects</a></li>
                        <li class=""><a href="about.html" class="navaboutlink">About</a></li>
                    </ul>
                </div>
                <div class="">
                    <ul class="" >
                        <li><a href="https://www.instagram.com/brightomolayo_/" class="icon"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="https://x.com/BrightBalogun21?t=zc9HxRMxTHX24nno0_vX9g&s=09" class="icon"><i class="fa-brands fa-x-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/bright-balogun-a30152321/" class="icon"><i class="fa-brands fa-linkedin"></i></a></li>
                        <li><a href="https://www.facebook.com/share/i6yiQzVxM53ZcReX/?mibextid=qi2Omg" class="icon"><i class="fa-brands fa-facebook-f"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <h1 class="projects-html-h1">More Projects</h1>
    </div>
    <main class="projects-html-main">
        <div class="image-holder">
            <div class="image-placeholder">
                <div class="image-div">
                    <a href="">
                        <img src="../static/assets/images/image-placeholder-bright-website.jpg" alt="">
                    </a>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum accusamus dolorum repellendus adipisci? Libero sapiente nam voluptatum natus autem magnam, iste voluptas accusamus quas optio modi consectetur aut dolorem necessitatibus.</p>
            </div>

            <div class="image-placeholder">
                <div  class="image-div">
                    <a href="">
                        <img src="../static/assets/images/image-placeholder-bright-website.jpg" alt="">
                    </a>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum accusamus dolorum repellendus adipisci? Libero sapiente nam voluptatum natus autem magnam, iste voluptas accusamus quas optio modi consectetur aut dolorem necessitatibus.</p>
            </div>

            <div class="image-placeholder">
                <div class="image-div">
                    <a href="">
                        <img src="../static/assets/images/image-placeholder-bright-website.jpg" alt="">
                    </a>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum accusamus dolorum repellendus adipisci? Libero sapiente nam voluptatum natus autem magnam, iste voluptas accusamus quas optio modi consectetur aut dolorem necessitatibus.</p>
            </div>
        </div>
    </main>
    <footer class="projects-html-body footer">
        <a href="https://github.com/BrightOmolayo" class="github"><i class="fa-brands fa-github"></i></a>
    </footer>
</body>
</html>